[build]
  command = "npm run build"
  publish = "build"

[build.environment]
  CI = "false"
  DISABLE_ESLINT_PLUGIN = "true"  # ← добавить эту строку

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200